<?xml version="1.0" encoding="utf-8"?>
<launch>
  <!-- path_maker가 저장할 파일명, 폐곡선 smoothing 여부 -->
  <arg name="path_file_name" default="path.txt" />
  <arg name="closed_loop" default="true" />
  <arg name="closed_loop_radius" default="1.0" />
  <arg name="path_maker_odom_topic" default="/gps_utm_odom" />
  <arg name="path_maker_path_topic" default="/local_path" />
  <arg name="path_maker_frame_id" default="map" />
  <arg name="path_maker_sample_distance" default="0.1" />
  <arg name="path_maker_smoothing_factor" default="0.1" />

  <!-- ll2utm 노드의 좌표 변환 파라미터 -->
  <arg name="ll2utm_gps_topic" default="/gps" />
  <arg name="ll2utm_odom_topic" default="/gps_utm_odom" />
  <arg name="ll2utm_map_frame_id" default="map" />
  <arg name="ll2utm_base_frame_id" default="base_link" />
  <arg name="ll2utm_utm_zone" default="52" />
  <arg name="ll2utm_east_offset" default="0.0" />
  <arg name="ll2utm_north_offset" default="0.0" />
  <arg name="ll2utm_use_msg_offset" default="false" />
  <arg name="ll2utm_require_valid_status" default="false" />
  <arg name="ll2utm_min_gps_status" default="0" />
  <arg name="ll2utm_publish_rate_hz" default="50.0" />
  <arg name="ll2utm_enable_prediction" default="true" />
  <arg name="ll2utm_max_prediction_time_s" default="0.10" />
  <arg name="ll2utm_gps_timeout_s" default="0.5" />
  <arg name="ll2utm_heading_filter_alpha" default="1.0" />
  <arg name="ll2utm_velocity_filter_alpha" default="1.0" />
  <arg name="ll2utm_initial_heading_distance" default="0.01" />
  <arg name="ll2utm_min_heading_distance" default="0.01" />
  <arg name="ll2utm_min_heading_speed_mps" default="0.03" />
  <arg name="ll2utm_enable_heading_prediction" default="true" />
  <arg name="ll2utm_heading_prediction_time_s" default="0.10" />
  <arg name="ll2utm_yaw_rate_filter_alpha" default="1.0" />
  <arg name="ll2utm_max_yaw_rate_radps" default="2.5" />
  <arg name="ll2utm_apply_gps_offset" default="true" />
  <arg name="ll2utm_gps_offset_x" default="0.0" />
  <arg name="ll2utm_gps_offset_y" default="0.0" />
  <arg name="ll2utm_max_speed_mps" default="30.0" />

  <!-- GPS 좌표를 UTM Odometry로 변환 -->
  <node name="ll2utm" pkg="global_path_planner" type="ll2utm.py" respawn="true">
    <param name="gps_topic" value="$(arg ll2utm_gps_topic)" type="str" />
    <param name="odom_topic" value="$(arg ll2utm_odom_topic)" type="str" />
    <param name="map_frame_id" value="$(arg ll2utm_map_frame_id)" type="str" />
    <param name="base_frame_id" value="$(arg ll2utm_base_frame_id)" type="str" />
    <param name="utm_zone" value="$(arg ll2utm_utm_zone)" type="int" />
    <param name="east_offset" value="$(arg ll2utm_east_offset)" type="double" />
    <param name="north_offset" value="$(arg ll2utm_north_offset)" type="double" />
    <param name="use_msg_offset" value="$(arg ll2utm_use_msg_offset)" type="bool" />
    <param name="require_valid_status" value="$(arg ll2utm_require_valid_status)" type="bool" />
    <param name="min_gps_status" value="$(arg ll2utm_min_gps_status)" type="int" />
    <param name="publish_rate_hz" value="$(arg ll2utm_publish_rate_hz)" type="double" />
    <param name="enable_prediction" value="$(arg ll2utm_enable_prediction)" type="bool" />
    <param name="max_prediction_time_s" value="$(arg ll2utm_max_prediction_time_s)" type="double" />
    <param name="gps_timeout_s" value="$(arg ll2utm_gps_timeout_s)" type="double" />
    <param name="heading_filter_alpha" value="$(arg ll2utm_heading_filter_alpha)" type="double" />
    <param name="velocity_filter_alpha" value="$(arg ll2utm_velocity_filter_alpha)" type="double" />
    <param name="initial_heading_distance" value="$(arg ll2utm_initial_heading_distance)" type="double" />
    <param name="min_heading_distance" value="$(arg ll2utm_min_heading_distance)" type="double" />
    <param name="min_heading_speed_mps" value="$(arg ll2utm_min_heading_speed_mps)" type="double" />
    <param name="enable_heading_prediction" value="$(arg ll2utm_enable_heading_prediction)" type="bool" />
    <param name="heading_prediction_time_s" value="$(arg ll2utm_heading_prediction_time_s)" type="double" />
    <param name="yaw_rate_filter_alpha" value="$(arg ll2utm_yaw_rate_filter_alpha)" type="double" />
    <param name="max_yaw_rate_radps" value="$(arg ll2utm_max_yaw_rate_radps)" type="double" />
    <param name="apply_gps_offset" value="$(arg ll2utm_apply_gps_offset)" type="bool" />
    <param name="gps_offset_x" value="$(arg ll2utm_gps_offset_x)" type="double" />
    <param name="gps_offset_y" value="$(arg ll2utm_gps_offset_y)" type="double" />
    <param name="max_speed_mps" value="$(arg ll2utm_max_speed_mps)" type="double" />
  </node>

  <!-- UTM Odometry를 기록하고 종료 시 smoothing된 경로를 저장 -->
  <node name="path_maker" pkg="global_path_planner" type="path_maker_sm.py" output="screen">
    <param name="file_name" value="$(arg path_file_name)" type="str" />
    <param name="closed_loop" value="$(arg closed_loop)" type="bool" />
    <param name="closed_loop_radius" value="$(arg closed_loop_radius)" type="double" />
    <param name="odom_topic" value="$(arg path_maker_odom_topic)" type="str" />
    <param name="path_topic" value="$(arg path_maker_path_topic)" type="str" />
    <param name="frame_id" value="$(arg path_maker_frame_id)" type="str" />
    <param name="sample_distance" value="$(arg path_maker_sample_distance)" type="double" />
    <param name="smoothing_factor" value="$(arg path_maker_smoothing_factor)" type="double" />
  </node>
</launch>
